@{
    string strTitle = "Советы";
    ViewBag.Title = strTitle;
}

<main class="guitar-guide">
    <div class="guitar-guide-container">
        <h1 id="guitar-guide-title" class="guitar-guide-main-title">
            Советы для начинающих гитаристов
        </h1>
        <article class="guitar-guide-article">
            <h2 class="guitar-guide-subtitle">Гитара: Начало пути музыканта</h2>
            <p class="guitar-guide-text">
                Гитара – это инструмент, который ассоциируется с музыкой, креативностью и выражением эмоций. Начало пути на гитаре может быть непростым, но, следуя несколько важным советам, можно быстро достичь успехов. Для начинающих гитаристов важно не только освоить основы, но и развить любовь к инструменту, которая будет вдохновлять на новые достижения.
            </p>

            <h3 class="guitar-guide-small-title">
                Как выбрать свою первую гитару
            </h3>
            <p class="guitar-guide-text">
                Первый шаг в обучении — это выбор подходящей гитары. Важно выбирать инструмент, который будет удобным для вас и подходить под стиль игры. Для новичков рекомендуются акустические гитары, такие как Yamaha F310, которые обладают хорошим звуком и доступной ценой.
            </p>

            <h3 class="guitar-guide-small-title">
                Основные техники для начинающих
            </h3>
            <p class="guitar-guide-text">
                Одной из самых важных техник для начинающих гитаристов является освоение аккордов. Начинать стоит с простых аккордов, таких как C, G, D и E, которые используются в большинстве популярных песен. Со временем, с опытом, можно перейти к более сложным аккордам и техникам.
            </p>

            <h2 class="guitar-guide-subtitle">
                Развитие игры: Советы по технике и стилю
            </h2>

            <p class="guitar-guide-text">
                Для того чтобы стать настоящим гитаристом, нужно развивать свою технику и стиль игры. Одним из ключевых аспектов является регулярная практика. Чем больше времени вы уделяете игре, тем быстрее достигнете прогресса. Кроме того, важно уделять внимание не только аккордам, но и ритму, а также импровизации.
            </p>
            <h3 class="guitar-guide-small-title">Использование медиатора</h3>
            <p class="guitar-guide-text">
                Медиатор — это важный элемент игры на гитаре, который помогает улучшить звук и контроль при игре. Новички часто играют без медиатора, но со временем рекомендуется освоить правильную технику его использования, чтобы играть быстрее и четче.
            </p>

            <h3 class="guitar-guide-small-title">Игра с другими музыкантами</h3>
            <p class="guitar-guide-text">
                Игра с другими музыкантами — это не только весело, но и помогает вам развивать свои музыкальные способности. Вы будете учиться слушать, подстраиваться под других игроков и улучшать свои навыки игры в группе.
            </p>
        </article>
    </div>
</main>