<header>
    <nav>
        <img src="~/icons/guitar-logo.jpg" alt="Logo" class="our-logo" />
        <ul>
            <li class="nav-item"><a href="index.html">Главная</a></li>
            <li class="nav-item"><a href="catalog.html">Каталог</a></li>
            <li class="nav-item">
                <a href="recommendations.html">Советы начинающим</a>
            </li>
            <li class="nav-item">
                <a href="addGuitar.html">Добавить гитару</a>
            </li>
            <li class="nav-item">
                <a href="contacts.html">Контакты</a>
            </li>
        </ul>
    </nav>
</header>