@model IEnumerable<GuitarDTO>
@{
    string strTitle = "Каталог";
    ViewBag.Title = strTitle;
}

<main>
    <aside class="filters">
        <form id="filter-form">
            <p>Поиск</p>
            <input type="text" id="search-input" name="search" placeholder="Поиск по бренду или модели" style="margin-bottom: 10px;">


            <p>Фильтры</p>

            <label for="guitar-type">Тип гитары:</label>
            <select id="guitar-type" name="type">
                <option value="">Все типы</option>
                @foreach (var type in Enum.GetValues(typeof(GuitarStore.Domain.Enums.GuitarTypeEnum)))
                {
                    <option value="@type">@type</option>
                }
            </select>

            <label for="priceMin">Цена от (₽):</label>
            <input type="number" id="priceMin" name="priceMin" placeholder="от" min="0">

            <label for="priceMax">Цена до (₽):</label>
            <input type="number" id="priceMax" name="priceMax" placeholder="до" min="0">

            <label for="brand">Бренд:</label>
            <select id="brand" name="brand">
                <option value="">Все бренды</option>

                @{
                    var brands = ViewBag.Brands as IEnumerable<GuitarStore.Domain.Entities.GuitarBrand>;
                    if (brands != null && brands.Any())
                    {
                        foreach (var brand in brands)
                        {
                            <option value="@brand.BrandName?.ToLower()">@brand.BrandName</option>
                        }
                    }
                }
            </select>


            <button type="submit">Применить фильтры</button>
        </form>
    </aside>


    <div id="catalog-container" class="catalog-products">
        <!-- Товары подгружаются сюда -->
    </div>

    <div class="pagination">
        <button id="prev-page-btn">Назад</button>
        <span id="page-indicator">Страница <span id="current-page">1</span></span>
        <button id="next-page-btn">Вперёд</button>
    </div>

    <button id="back-to-top" class="back-to-top-btn">↑ Наверх</button>
</main>

@section Scripts {
    <script src="~/js/catalog.js" asp-append-version="true"></script>
}